code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

/*color when hovering over link*/
a:hover {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
}

